<html>
    <head>
        <title>Test</title>
    </head>
    <body>
        <h1>Today</h1>
        <% time = Time.now %>
        <% time_display = time.strftime("%A, %B %d, %Y)Wednesday, November 18, 2015
        <p><%= "Goodbye #{name}" %></p>
    </body>
</html>
